<div class="card">
  <div class="card-header text-center">
    <h5>Score</h5>
  </div>
  <div class="card-body text-center">
    <div *ngIf="quizScore">
      <div class="info-area mb-4">
        <h5>{{ quizScore.score }} of total {{ quizScore.totalWords }} words.</h5>
      </div>
      <hr>
      <div class="row">
        <div class="col text-center">
          <h4><i class="fa fa-check-circle color-correct"></i></h4>
          <div class="card mb-2 py-2" *ngFor="let data of quizScore.correctAnsweredWords" >{{ data.word }}</div>
        </div>
        <div class="col text-center">
          <h4><i class="fa fa-times-circle color-incorrect"></i></h4>
          <div class="card mb-2 py-2" *ngFor="let data of quizScore.incorrectAnsweredWords" >{{ data.word }}</div>
        </div>
      </div>
    </div>
    <div *ngIf="!quizScore">
      <p>No Data</p>
    </div>
  </div>
</div>
<button class="btn btn-primary btn-block my-2" routerLink="/">Main</button>
<button class="btn btn-primary btn-block my-2" routerLink="/quiz/new/setting">New Quiz</button>
<button class="btn btn-primary btn-block my-2" (click)="goReQuiz()" [disabled]="!quizScore">Quiz again</button>