

<div class="text-center">
  <h3 class="mb-2">Wordbook - TOCFL</h3>
  <p>Welcome to WordBook for TOCFL
    (Test of Chinese of Foreign Language). </p>
  <p>This is now under developing!</p>
</div>
<hr>
<button class="btn btn-outline-primary btn-lg btn-block" routerLink="/quiz/new">Go to Quiz(Testing)</button>
<button class="btn btn-outline-primary btn-lg btn-block" routerLink="/words">Word List 2:30pm</button>
<button class="btn btn-outline-primary btn-lg btn-block" routerLink="/records" disabled>Go to Record List (Comming soon)</button>