

<div class="text-center">
  <h2 class="mb-2">Wordbook - TOCFL</h2>
  <p>Welcome to WordBook for TOCFL(Test of Chinese of Foreign Language). This is now under developing!</p>  
</div>
<hr>
<button class="btn btn-outline-primary btn-lg btn-block" routerLink="/quiz/new" disabled>Go to Quiz(new) (Comming soon)</button>
<button class="btn btn-outline-primary btn-lg btn-block" routerLink="/words">Go to Word List (Testing)</button>
<button class="btn btn-outline-primary btn-lg btn-block" routerLink="/records" disabled>Go to Record List (Comming soon)</button>

