<section>
  <div class="card mb-2">
    <div class="card-header" (click)="toggle()" >
      Card Setting
      <i class="fa fa-angle-up" *ngIf="shrink == 'down'"></i>
      <i class="fa fa-angle-down" *ngIf="shrink == 'up'"></i>
    </div>
    <div class="card-body animate" [@shrinkUpDown]="shrink">
      <!-- Start Select Level -->
      <div class="form-group mb-2">
          <label>Select Level</label>
          <div class="btn-group form-control-plaintext">
            <ng-template ngFor let-level [ngForOf]="LEVELS">
              <label class="btn btn-outline-primary" [class.active]="selectedLevel == level.id">
                <input 
                type="radio"
                name="selectedLevel"
                [checked]="selectedLevel == level.id" 
                [value]="level.id" 
                (change)="setLevel(level.id)"
                hidden
                > 
                {{ level.value }} 
              </label>
            </ng-template>
          </div>
      </div>
      <!-- End Select Level -->
      <!-- Start Select Card Type -->
      <div class="form-group mb-2">
        <label>Select Card Type</label>
        <div class="btn-group btn-custom-radio-hidden form-control-plaintext">
          <ng-template ngFor let-type [ngForOf]="CARD_TYPE_NAMES">
            <label class="btn btn-outline-primary" [class.active]="selectedWordCardType == type.id">
              <input 
              type="radio"
              hidden
              name="selectedWordCardType" 
              [checked]="selectedWordCardType == type.id" 
              [value]="type.id" 
              (change)="setWordCardType(type.id)"
              > 
              {{ type.name }}
            </label>
          </ng-template>
          </div>
      </div>
      <!-- card sample -->
      <app-word-card [word]="sampleWord" [cardType]="selectedWordCardType"></app-word-card>
      <!-- Start Select Card Type -->
    </div>
  </div>
</section>