<div (click)="onCardClick()">

<!-- Start Simple Word Card -->
<div *ngIf="selectedCardType == CARD_TYPE.SIMPLE && word">
  <div class="card-wrapper mb-2 card-word">
    <div class="card text-center">
      <span class="badge badge-left-top badge-light">{{ word.index }}</span>
      <div class="card-body">
        <h1 class="card-title">{{ word.word }}</h1>
        <h6 class="card-subtitle">[ {{ word.sound }} ]</h6>
        <hr>
        <p class="card-text"><span *ngIf="word.class">{{ word.class }}</span>  {{ word.explain }}</p>
      </div>
    </div>
  </div>
</div>
<!-- End - Simple Word Card -->

<!-- Start Show and Hide Word Card -->
<div *ngIf="selectedCardType == CARD_TYPE.HIDE && word">
  <div class="card-wrapper mb-2 card-word">
    <div class="card text-center">
      <span class="badge badge-left-top badge-light">{{ word.index }}</span>
      <div class="card-body" >
        <h1 class="card-title">{{ word.word }}</h1>
        <h6 class="card-subtitle">[ {{ word.sound }} ]</h6>
          <div [@showAndHide]="cardClickState">
          <hr>
          <p class="card-text"><span *ngIf="word.class">{{ word.class }}</span>  {{ word.explain }}</p>
        </div>
        </div>
    </div>
  </div>
</div>
<!-- End Show and Hide Word Card -->

<!-- Start Show and Hide 2 Word Card -->
<div *ngIf="selectedCardType == CARD_TYPE.HIDE2 && word">
  <div class="card-wrapper mb-2 card-word">
    <div class="card text-center">
      <span class="badge badge-left-top badge-light">{{ word.index }}</span>
      <div class="card-body" >
        <h1 class="card-title">{{ word.word }}</h1>
        <div [@showAndHide]="cardClickState">
          <h6 class="card-subtitle">[ {{ word.sound }} ]</h6>
          <hr>
          <p class="card-text"><span *ngIf="word.class">{{ word.class }}</span>  {{ word.explain }}</p>
        </div>
        </div>
    </div>
  </div>
</div>
<!-- End Show and Hide 2 Word Card -->

<!-- Start Word Card - fllip type -->
<div *ngIf="selectedCardType == CARD_TYPE.FLIP && word">
  <div class="card-wrapper mb-2 card-word effect-flip">
    <div class="flip-area text-center" [@flip]="cardClickState">
      <div class="card face-front">
        <span class="badge badge-left-top badge-light">{{ word.index }}</span>
        <div class="card-content vertical-align-middle">
          <h1 class="card-title">{{ word.word }}</h1>
          <h6 class="card-subtitle">[ {{ word.sound }} ]</h6>
        </div>
      </div>
      <div class="card face-back bg-light">
        <div class="card-content vertical-align-middle">
          <p class="card-text"><span *ngIf="word.class">{{ word.class }}</span>  {{ word.explain }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Word Card - fllip type -->

<!-- Start Word Card - fllip type 2 -->
<div *ngIf="selectedCardType == CARD_TYPE.FLIP2 && word">
  <div class="card-wrapper mb-2 card-word effect-flip">
    <div class="flip-area text-center" [@flip]="cardClickState">
      <div class="card face-front">
        <span class="badge badge-left-top badge-light">{{ word.index }}</span>
        <div class="card-content vertical-align-middle">
          <h1 class="card-title">{{ word.word }}</h1>
        </div>
      </div>
      <div class="card face-back bg-light">
        <div class="card-content vertical-align-middle">
          <h1 class="card-title">{{ word.word }}</h1>
          <h6 class="card-subtitle">[ {{ word.sound }} ]</h6>
          <hr>
          <p class="card-text"><span *ngIf="word.class">{{ word.class }}</span>  {{ word.explain }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Word Card - fllip type 2 -->

</div>
