<div *ngIf="selectedQuestion">
  <div> {{ selectedQuestionIndex + 1 }} / {{ questions.length }} </div>
  <app-quiz-card [question]="selectedQuestion"></app-quiz-card>
  
  <div>
    <!-- <button class="btn btn-primary" [disabled]="selectedQuestionIndex +1 < 2" (click)="onClickPrevious()">Pre</button> -->
    <button class="btn btn-primary btn-block" (click)="onClickNext()" [disabled]="questions.length == selectedQuestionIndex +1">Next</button>
    <button class="btn btn-primary btn-block" *ngIf="questions.length == selectedQuestionIndex +1" (click)="onClickScore()" >Score</button>
  </div>
</div>

<div *ngIf="!selectedQuestion">
  <p>No Data</p>
  <button class="btn btn-primary btn-block" routerLink="/">Go to Main</button>
</div>

<!-- <button class="btn btn-primary btn-block" routerLink="/quiz/re/question">Re:Quiz</button> -->
