/* Start Flip Card with Bootstrap */
.card-wrapper.effect-flip {
    position: relative;
    perspective: 800px;
    cursor: pointer;
}
.card-wrapper.card-word {
    width: 100%;
    min-height: 180px;
    max-width: 500px;
    margin: auto;
}
.card-wrapper.effect-flip .flip-area {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.8s;
}
.card-wrapper.effect-flip .flip-area.flipped {
    transform: rotateY(180deg);
}
.card-wrapper.effect-flip .card {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-wrapper.effect-flip .card.face-back {
    transform: rotateY(180deg);
}
.card-wrapper.effect-flip .card .card-content {
    padding: 2rem;
}
.card-wrapper.effect-flip .card .card-content.vertical-align-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/* End Flip Card with Bootstrap */